@use '../variables' as *;
@use '../responsive';

#editar-container {
    display:grid;
    background-color: $primary;
    height: 50rem;
    align-items: center;
    border-radius: 2rem;
    padding: 2rem;


    form {
        .form-label {
            color: $terciar;
        }

        .form-control {
            background-color: $background-color;
            border-color: $secondary-color;
            color: $terciar;
        }

        .btn-primary {
            background-color: $secondary-color;
            border-color: $secondary-color;

            &:hover {
                background-color: darken($secondary-color, 10%);
                border-color: darken($secondary-color, 10%);
            }
        }
    }
}
